<style type="text/css">
<!--

/* Général */
html {margin: 0; padding: 0;}

body {background-color: #f2ffff; color: black; margin: 0;}

#birthday {
	margin: 10px;
	margin-left: 25%;
	border: 3px solid #f0f0f0;
	width: 50%;
	text-align: left;
	background-color: white;
}

#birthday p {
	margin-left: 5px;
}

#birthday-cake {
	margin: 5px;
	margin-right: 20px;
	float: right;
}

#news {
  /* float: left; */
}

#news-img {
  float: left;
  margin: 0 10px;
  vertical-align: top;
}

/* Le titre (bande horizontale) */

#titre {background-color: White; margin: 0px 5px;
  font-family : Arial, sans-serif; font-weight: bold; padding: 0;
  text-align: center; border: 1px solid #ccc;}
#titre img {border:0; margin:0;}

#titre h1 {
  margin: 0.5em 0;
  font-size: 190%;
}
#titre a {color: darkblue; text-decoration: none;}
#titre a:hover {color: Aqua; text-decoration: none;}

#flags {position: relative; top: 0px; left: 0px;}
#flags ul, #flags li {display: inline; list-style: none; padding: 0px; 
  margin: 0px;}
#flags img {border: 1px solid transparent;}
#flags img:hover {border: 1px solid blue;}

#title-image-1 {float: left; margin-left: 5px;}
#title-image-2 {float: right; margin-right: 5px;}

/* L'intro */

#intro p {width: 100%; text-align: center;}

/* Les éléments flottants */

div.item {
  /* float: left; */
  display: inline-block;
  text-align: center;
  width: 171px;
  height: 196px;
  padding: 10px 4px;
  margin: 7px;
  border: 1px solid #666;
  font-size: 85%;
  font-weight: 400;
  background-color: white;
  box-shadow: 5px 5px 9px #bbb;
  border-radius:5px;
  vertical-align: top;
}

div.item p {
  font-size: 120%;
  text-overflow: ellipsis;
}

div.item:hover {
  border: 1px ridge black;
  background-color: LightCyan;
  text-decoration: underline;
}

div.item-image {height: 100px; vertical-align: middle;}

div.item-image img {border: 1px solid transparent;margin: 0px 5px 5px 5px;}

div.item p {vertical-align: middle;}

.clearboth { clear:left; }

#items a:link           {color: black; text-decoration: none;}
#items a:active         {color: black; text-decoration: none;}
#items a:visited        {color: black; text-decoration: none;}
#items a:hover          {color: blue; text-decoration: none;}

#corps a:link           {color: black;}
#corps a:active         {color: black;}
#corps a:visited        {color: black;}
#corps a:hover          {color: blue; text-decoration: none;}

div.main {float: right; text-align : center; width: 10em;}

/* Le corps du texte */
#corps {
  color: black;
  margin: 1em 15px 0 15px;
  /* height: 100%; */
  font-family: Verdana, Arial, Helvetica, sans-serif; text-align: left;
  font-size: 90%;}
#corps li {padding: 5px;}
#corps h1 {font-size: 250%; color: black; text-align: center;}
#corps h2 {font-size: 150%; 
  font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
  color: #990000;}
#corps h3 {font-size : 120%;
  font-family : Verdana, Arial, Helvetica, Geneva, sans-serif;
  color : green; text-align: center; clear: both; width: 100%;}
#corps h4 {font-size : 110%;
  font-family : Verdana, Arial, Helvetica, Geneva, sans-serif;
  color : orangered; text-align: center;}
#corps img {text-align: center; border: none;}
#corps table {text-align: center;}

#pub {
  width: 728px;
  height: 90px;
  margin: 5px 5px;
  float: left;
}

#facebook {
  margin: 35px 10px 0 0;
  display: inline-block;
  float: right;
}

#facebook iframe {
  display: inline-block;
  height: 24px !important;
}

.author {
  margin-top: 5px;
  font-weight: bold;
  text-align: right;
  display: block;
}

/* RTL declarations */

#birthday.rtl {
	margin-left: 10px;
	margin-right: 25%;
	text-align: right;
}

#birthday p.rtl {
	margin-right: 5px;
}

#birthday-cake.rtl {
	margin: 5px;
	margin-left: 20px;
	margin-right: 5px;
	float: left;
}

#news-img.rtl {
  float: right;
}

#titre h1.rtl {margin-right: 0; font-size: 220%;}

#flags.rtl {right: 0px;}

#title-image-1.rtl {float: right; margin-right: 5px;}
#title-image-2.rtl {float: left; margin-left: 5px;}

/* Les éléments flottants */

div.item.rtl {float: right; }

.clearboth.rtl { clear:right; }

div.main.rtl {float: left;}

#pub.rtl {
  display: inline-block;
  width: 17%; margin-left: 5px;  margin-right: 10px;
    text-align: left; float: left;}

.author.rtl {
  text-align: left;
}

.footer {
  font-size: 80%;
  text-align: right;
}


/*-->*/
/*</style>*/
